@import '../../assets/colors';

.section-container {
  background-color: $transparent-black;
  color: $white;
  margin-bottom: 1rem;
  padding: .75rem;

  .section-header {
    align-items: center;
    display: flex;
    font-size: 1.75rem;
    font-weight: 100;

    .section-title {
      cursor: pointer;
    }
  }

  .section-collapse-button {
    align-items: center;
    background: $purple-gradient;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 1.5rem;
    justify-content: center;
    margin-right: .5rem;
    width: 1.5rem;
  }

  &.collapsed {
    .section-content {
      display: none;
    }
  }

  &.expanded {
    .section-header {
      margin-bottom: .5rem;
    }
  }
}

@media(min-width: 600px) {
  .section-container {
    flex: 1;

    .section-collapse-button {
      display: none;
    }

    &.collapsed,
    &.expanded {
      .section-content {
        display: block;
      }

      .section-header {
        margin-bottom: .5rem;

        .section-title {
          cursor: default;
        }
      }
    }
  }
}
