@import '../../assets/scss/colors';

.scribble-app-container {
  .header {
    background-color: $transparent-black;
    box-sizing: border-box;
    color: $white;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
    padding: .75rem;
    width: 100%;

    .subtitle {
      font-size: .75rem;
      font-style: italic;
      letter-spacing: 1px;
    }
  }

  .copyright-info {
    color: $white;
    font-size: .75rem;
    padding: .5rem;
    text-align: center;
  }
}

@media(min-width: 600px) {
  .scribble-app-container {
    .header-inner-container {
      margin: 0 auto;
      max-width: 1200px;
    }

    .pane-container {
      display: flex;
      margin: 0 auto;
      max-width: 1200px;
    }
  }
}
