@import '../../../assets/scss/colors';

.section-container {
  background-color: $transparent-black;
  color: $white;
  font-size: 1.75rem;
  font-weight: 100;
  margin-bottom: 1rem;
  padding: .75rem;

  .section-header {
    align-items: center;
    display: flex;

    .section-title {
      cursor: pointer;
    }
  }

  .section-collapse-button {
    align-items: center;
    background: linear-gradient(rgb(53, 39, 181), rgb(131, 0, 153));
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 1.5rem;
    justify-content: center;
    margin-right: .5rem;
    width: 1.5rem;
  }

  &.collapsed {
    .section-content {
      display: none;
    }
  }

  &.expanded {
    .section-header {
      margin-bottom: .5rem;
    }
  }
}
